body {
    background: url(../img/background.jpg) no-repeat top center;
}
#wrapper {
}
#content {
    background-color: #fff;
    height: 100%;
    filter: alpha(opacity=50);
    display: block;
    margin: 50px auto;
    width: 500px;
    padding: 5px;
    border-radius: 7px;
    z-index: 1;
    position: relative;
}

#start-window, #game-window {
    position: absolute;
    z-index: 2;
    width: 600px;
    height: 300px;
    background: #ffe;
    left: 27%;
    top: 50px;
    border-radius: 7px;
    padding: 10px;
}
#game-window {
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    margin: 50px;
    height: 85%;
    min-height: 600px;
}

#game-window .table-row {
    position: relative;
    display: table-row;
    height: 10%;
    width: 100%;
}
#game-window .table-row.support-row li{
    width: 18%;
}

#game-window .table-row.support-row li p{
    margin: 0 auto;
}

#game-window ul, #game-window li{
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
#game-window li {
    width: 117px;
    height: 140px;
    margin: 10px;
    position: relative;
    display: table-column;
}
#game-window li.hover .cart{
    box-shadow: 0 0 5px 6px rgb(206, 30, 30);
}
#start-window .center {
    text-align: center;
}

#start-window, #game-window {
    display: none;
}
.active {
    display: block !important;
}


.cart {
    cursor: pointer;
    background: #fff;
    height: 100px;
    width: 110px;
}


#templates {
    display: none;
}
